.containerChatPage {
    width: 1030px;
    text-align: center;
    float: left;
    color: white;
    padding: 70px;
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;    
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 460px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    
}

.profiloContatto {
    width: 1000px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #eecc8c;
    margin-right: 75px;
    height: 50px;
    top: 0;
    right: 0;
    display: flex;
    position: fixed;
    padding: 10px;
    border-radius: 10px;
}

.pannelloChat {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #eecc8c;
    margin-top: 320px;
    padding: 10px;
    width: 1000px;
    display: flex;
    position: fixed;
    bottom: 0;
    border-radius: 10px;
}

.messaggio-mittente {
    width: 200px;
    background-color: white;
    color: black;
    padding: 10px;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: left;

}

.messaggio-destinatario {
    width: 200px;
    background-color: white;
    color: black;
    padding: 10px;
    margin-right: auto;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: left;
}