.containerRubricaPage {
    width: 350px;
    text-align: center;
    background-color: #075E54;
    color: white;
    border-right: 1px solid black;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100px;
    overflow-y: auto ; 
   
}

.containerRubricaPage::-webkit-scrollbar { display: none; }

.tableListaContatto {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 0px;
    border-color: gray;
    margin-top: 10px;
   
}

.tableListaContatto th {
    margin: 0;
    padding: 0;
}





.containerContatto {
    background-color: aliceblue;
    width: 330px;
    height: 60px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

.spanContatto {
    color: black;
}

.searchBar {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    padding: 10px;
    width: 330px;
    display: flex;
    flex-direction: row;
}